<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainStyles.css">
    <title>Extension Horario</title>
</head>

<body>
    <div class="calendar__container">
        <div class="calendar__head">
            <h1>
                Calendario EPN
            </h1>
        </div>
        <div class="calendar__body">
            <table class="calendar__table">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>


    <button id="changeColor"></button>
    <script src="../functions/popup.js"></script>
</body>

</html>